@import '~bootstrap/scss/bootstrap';
@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Vazir.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Vazir.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Vazir.ttf')  format('truetype'), /* Safari, Android, iOS */
  }
body{
    direction: rtl;
    text-align: right !important;
    font-family: 'Vazir', Arial, Helvetica, sans-serif;
    background: yellow;
}
.page-item:first-child .page-link{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
}
.page-item:last-child .page-link{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    border-top-left-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
}

.form-control-invalid{
    border-color: tomato;
    transition-delay: 3s;
    transition: all ease-in-out 5s;
}